body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    text-align: center;
    background-color: #007bff;
    padding: 10px;
    color: white;
  }
  
  .header-button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .admin-button {
    background-color: #007bff;
    color: white;
  }
  
  .user-button {
    background-color: #28a745;
    color: white;
  }
  
  .start-panel {
    margin: 50px auto;
    text-align: center;
  }
  