/* Genel Yapı */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  box-sizing: border-box;
}

/* Ana Konteyner */
/* Ana İçerik */
#main-content {
  padding: 20px;
  margin-top: 120px; 
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Sayfa Başlıkları */
h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}
