.footer {
    background-color: var(--secondary2-color);
    color: var(--light-color);
    text-align: center;
    padding: 20px;
  }
  
  .footer-links a {
    color: var(--light-color);
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: var(--success-color);
  }

  .footer .footer-logo {
    height: 50px;
    display: block;
    margin: 0 auto 10px;
  }
  
  