/* Main Content */
.grid-container {
  display: grid;
  grid-template-areas:
    "hamburger-menu header-logo header-nav"
    "sidebar main-content top-section"
    "sidebar about-section about-section"
    "sidebar movie-section movie-section"
    "sidebar blog-section blog-section"
    "footer footer footer";
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 15px;
}

.main-content {
  grid-area: main-content;
  padding: 20px;
  background: var(--card-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

  /* Buton */
  #show-cinema-selection {
    margin-top: 20px;
  }

  /* Dropdown Stilleri */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--light-color);
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
  color: var(--text-color);
  text-align: left;
}

.dropdown-item:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

  