.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.modal-header .close-modal {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
}

.modal-header .close-modal:hover {
    color: #ff0000;
}

.modal-body {
    width: 100%;
    padding: 20px 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Mobil Ekranlar */
@media (max-width: 600px) {
    .modal {
        width: 95%;
        max-height: 90vh;
    }
}

@media (max-width: 1024px) {
    .modal {
        width: 95%;
        max-height: 90vh;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .modal {
        padding: 15px;
        width: 95%;
    }
}
