:root {
    /* Renk Paleti */
    --background-color: #f4f4f4;
    --light-color: #ffffff;
    --primary-color: #D93A31;
    --secondary-color: #2B2B35;
    --success-color: #28a745;
    --warning-color: #ffc107;
    --error-color: red;
    --border-color: #ddd;
    --text-color: #333;
    --card-bg-color: #f8f9fa;

    /* Yazı Tipi ve Boyutlar */
    --font-family-primary: 'Lexend Deca', sans-serif;
    --font-family-secondary: 'Courier New', monospace;
    --font-size-base: 16px;

    /* Responsive Sınırlar */
    --mobile-breakpoint: 576px;
    --tablet-breakpoint: 768px;
    --desktop-breakpoint: 1024px;

    /* Grid ve Diğer Ayarlar */
    --container-padding: 20px;
    --grid-gap: 20px;

    /* Başlık Font Boyutları */
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.25rem;
    --font-size-p: 1rem;

    /* Mobil Cihazlar */
    --font-size-h1-mobile: 2rem;
    --font-size-h2-mobile: 1.75rem;
    --font-size-p-mobile: 0.9rem;

    /* Butonlar */
    --button-font-size: 1rem;
}
